.payment-label {
    margin-bottom: -3mm;
}

.payment-layout {
    margin-bottom: -4em;
}

.message-field {
    margin-top: -1ex;
    margin-left: 0px;
    margin-bottom: 1ex;
}

.receiver-value-panel {
    flex-wrap: wrap;
}

.payment-button {
    width: 100%;
}