:host(.buddy-grid) [part="cell header-cell"] {
    background-color: #5cb95c;
    text-align: center;
    color: white;
    height: 6em;
}
:host(.buddy-grid) [part="cell body-cell"] {
    height: 5em;
    text-align: center;
    align-items: center;
}

:host(.user-grid) [part="cell header-cell"] {
    height: 4em;
}
:host(.user-grid) [part="cell body-cell"] {
    height: 3em;
}
